@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  background-color: #ffffff;
  color: #18181b;
}

* {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}
